body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff7e6;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d97706;
    color: white;
    padding: 30px;
    text-align: center;
}

header p {
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

main {
    padding: 20px;
}

h2 {
    text-align: center;
    margin-top: 40px;
}

#menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.dish {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
}

.dish img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
}

#chart-section {
    max-width: 600px;
    margin: 40px auto;
}